/* Watermark Protection - Visible only in screenshots, invisible during normal browsing */
.watermark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999999;
    overflow: hidden;
    /* Very low opacity - invisible to human eye but captured in screenshots */
    /* JavaScript will increase it when screenshot is detected */
    opacity: 0;
    /* Ensure it doesn't interfere with page interaction */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.watermark-pattern {
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background-image: url('../img/logo.png');
    background-repeat: repeat;
    background-size: 300px 300px;
    /* Rotate 45 degrees */
    transform: rotate(45deg);
    transform-origin: center center;
    /* Ensure it's always rendered */
    will-change: transform;
}

/* Additional watermark layers for better coverage */
.watermark-pattern-2 {
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background-image: url('../img/logo.png');
    background-repeat: repeat;
    background-size: 250px 250px;
    /* Rotate 45 degrees with offset */
    transform: rotate(45deg) translate(150px, 150px);
    transform-origin: center center;
    will-change: transform;
}

.watermark-pattern-3 {
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background-image: url('../img/logo.png');
    background-repeat: repeat;
    background-size: 280px 280px;
    /* Rotate 45 degrees with different offset */
    transform: rotate(45deg) translate(-100px, 100px);
    transform-origin: center center;
    will-change: transform;
}

/* Ensure watermark is always on top and doesn't interfere */
.watermark-overlay * {
    pointer-events: none;
    user-select: none;
}

/* Make sure watermark is visible in print/screenshots */
@media print {
    .watermark-overlay {
        opacity: 0.3;
    }
}

/* For normal screen viewing - keep it at very low opacity */
@media screen {
    .watermark-overlay {
        /* Very low opacity - invisible to eye but shows in screenshots */
        /* JavaScript will increase it when screenshot detected */
        opacity: 0;
    }
}

/* Additional technique: Use mix-blend-mode to make it blend during viewing
   but show in screenshots (fallback if opacity alone doesn't work) */
.watermark-pattern,
.watermark-pattern-2,
.watermark-pattern-3 {
    /* Ensure logos are visible in screenshots */
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

